# Django Settings
SECRET_KEY=TU_SECRET_KEY_AQUI
DJANGO_ENV=development
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (Production)
# DATABASE_URL=postgres://user:password@host:port/dbname

# Cloudinary (Production Media)
# CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

# Frontend (Production)
CORS_ALLOWED_ORIGINS=http://localhost:5173
